
<ion-content>
<ion-grid>
  <ion-row class = "ion-justify-content-center">
    <ion-col size="12" size-md = "10" size-lg="8" size-xl="6">
      <ion-text color="primary">
        <div class = "ion-text-center">
        <h1>Aplikacja wykonana ze względu na projekt uczelniany!</h1>
        <ion-text color="primary">
          <div class = "ion-text-center">
          <h1>Wykonali:</h1>
        </div>
        </ion-text>
      </div>
      </ion-text>
      
    </ion-col>
    
  <ion-row class = "ion-justify-content-center">
    
    <ion-col>
      <img [src] = "mateusz">
      <ion-text color="primary">
        <div class = "ion-text-center">
        <h3>Mateusz Szreder</h3>
      </div>
      </ion-text>
    </ion-col>
    <ion-col>
      <img [src] = "michal">
      <ion-text color="primary">
        <div class = "ion-text-center">
        <h3>Michał Reszka</h3>
      </div>
      </ion-text>
    </ion-col>
    <ion-col>
      <img [src] = "wojtek">
      <ion-text color="primary">
        <div class = "ion-text-center">
        <h3>Wojtek wójciki?</h3>
      </div>
      </ion-text>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>
      <img [src] = "logo">
      <ion-text color="primary">
        <div class = "ion-text-center">
        <h3>Kochamy nasza uczelnie</h3>
      </div>
      </ion-text>
    </ion-col>
    </ion-row>
  </ion-row>
</ion-grid>
</ion-content>

