
<ion-content>
<ion-grid>
  <ion-row class = "ion-justify-content-center">
    <ion-col size="12" size-md = "10" size-lg="8" size-xl="6">
      <ion-text color="primary">
        <h1>Aplikacja wykonana ze względu na projekt uczelniany!</h1>
      </ion-text>
      <ion-text  color="primary">
        <h2>Wykonali: Michał Reszka, Mateusz Szreder, Wojtek Wójciki?</h2>
      </ion-text>
    </ion-col>
    <ion-col>
      <img src = "assets/Logo.png">
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

