

<ion-content class="ion-padding">
  <form (ngSubmit)="createPdf()" [formGroup]="myForm">
    <ion-item>
      <ion-label>Include Logo image?</ion-label>
      <ion-checkbox formControlName="showLogo" color="secondary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">From</ion-label>
      <ion-input formControlName="from"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">To</ion-label>
      <ion-input formControlName="to"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">File name</ion-label>
      <ion-input formControlName="pdfFileName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Text</ion-label>
      <ion-textarea formControlName="text" rows="3"></ion-textarea>
    </ion-item>
    <ion-button expand="block"color="secondary" (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Save PDF<ion-icon slot="end" name="save"></ion-icon></ion-button>
    <ion-button expand="block" color="secondary" type="submit">Create PDF<ion-icon slot="end" name="create"></ion-icon></ion-button>
  </form>
  
  <image-cropper 
  [imageBase64]="photoPreview"
  [maintainAspectRatio]="true"
  [aspectRatio]="4 / 3"
  format="png"
  (imageCropped)="imageCropped($event)"
  outputType="base64" *ngIf="photoPreview">
  </image-cropper>
  <ion-card id = "cropped-card">
    <img id = "cropped" [src]="croppedImage" *ngIf="croppedImage">
  </ion-card>
 

  <ion-button expand="block" color="secondary" (click)="takePicture()">Take Picture<ion-icon slot="end" name="camera"></ion-icon></ion-button>

  <ion-button expand="block" color="secondary" (click)="takePictureForOCR()">Take picture for OCR<ion-icon slot="end" name="camera"></ion-icon></ion-button>

  <ion-img [src]="photoForOCR" *ngIf="photoForOCR"></ion-img>

  <ion-button expand="block" color="secondary" [disabled]="!workerReady || !photoForOCR" (click)="recognizeImage()">Text recognition<ion-icon slot="end" name="text"></ion-icon></ion-button>

  <ion-card *ngIf="workerReady && captureProgress > 0">
    <ion-card-header>
      <ion-card-title>
        Capture progress: {{ captureProgress }}%
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ ocrResult }}
    </ion-card-content>
  </ion-card>
</ion-content>
